<div class="demande">
    <div class="style">
        <video class="video" width="1150" height="240" controls>
            <source src="image/pizzapub.mp4" type="video/mp4">
            <source src="image/pizzapub.ogg" type="video/ogg">
            Your browser does not support the video tag.
        </video>
    </div>
</div>